* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

@media (min-width: 1201px) {
  .main-nav {
    width: 100%;
    height: 10%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .main-nav p {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  header {
    width: 100%;
    height: 920px;
    background: url(../img/image_1\,jpg-photoaidcom-darken.webp) center/cover no-repeat;
    display: flex;
    flex-direction: column;
  }
  header .header-text-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .header-text-container h2 {
    font-size: 4rem;
    color: #fff;
    font-weight: lighter;
  }
  header .header-text-container h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: bolder;
  }
  header .header-text-container p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #acacac;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  main {
    width: 100%;
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main p {
    color: #fff;
    margin-top: 100px;
    font-size: 1.8rem;
  }
  main p span {
    font-weight: 1000;
  }
  main nav {
    margin-top: -40px;
    display: flex;
  }
  main nav p {
    font-size: 0.9rem;
    margin-left: 40px;
    color: #5e5e5e;
    cursor: pointer;
    transition: 0.2s;
  }
  main nav p:hover {
    color: #76bd3c;
    transition: 0.2s;
  }
  main .photo-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
  main .photo-grid-container .container {
    margin-top: 40px;
    flex: 0 1 calc(33% - 5px);
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .photo-grid-container .container p {
    color: #e8e8e8;
    margin-top: 20px;
    font-size: 1.1rem;
  }
  main .photo-grid-container .container span {
    font-size: 0.7rem;
    color: #919191;
    margin-top: 10px;
  }
  main .my-resume-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .my-resume-part h1 {
    color: #fff;
    font-weight: 50;
    margin-top: 200px;
  }
  main .my-resume-part h1 span {
    font-weight: 900;
  }
  main .my-resume-part .my-resume-part-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .my-resume-part .my-resume-part-container .my-resume-left .my-resume-block {
    margin-top: 30px;
    margin-left: 40px;
    width: 540px;
    height: 228px;
    background: #333333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  main .my-resume-part .my-resume-part-container .my-resume-left .my-resume-block p {
    margin: 25px 0px 0px 0px;
  }
  main .about-me-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
  main .about-me-part img {
    width: 601px;
    height: 410px;
  }
  main .about-me-part .about-me-text-container {
    width: 601px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px 0px 70px;
  }
  main .about-me-part .about-me-text-container h1 {
    color: #fff;
    font-weight: 50;
  }
  main .about-me-part .about-me-text-container h1 span {
    font-weight: 900;
  }
  main .about-me-part .about-me-text-container p {
    margin: 30px 0px 0px 0px;
  }
  main .about-me-part .about-me-text-container .button-container {
    display: flex;
    margin-top: 100px;
  }
  main .about-me-part .about-me-text-container .button-container .btn-1 {
    width: 117px;
    height: 35px;
    border-radius: 40px;
    border: none;
    background: #bac964;
    color: #fff;
    cursor: pointer;
  }
  main .about-me-part .about-me-text-container .button-container .btn-2 {
    width: 170px;
    height: 35px;
    border-radius: 40px;
    border: none;
    background: #6c757d;
    color: #fff;
    cursor: pointer;
    margin-left: 3px;
  }
}/*# sourceMappingURL=style.css.map */